* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
}

section{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    font-family: Arial, Helvetica, sans-serif;
}